/PL-language/PL-language/obj
/PL-language/.vs/PL-language
/pl-v2/.vs
/pl-v2/pl-v2/obj
/pl-v2/.vs/pl-v2/DesignTimeBuild/.dtbcache.v2
/pl-v2/.vs/pl-v2/v17/.suo
/pl-v2/.vs/pl-v2/v17/DocumentLayout.backup.json
/pl-v2/.vs/pl-v2/v17/DocumentLayout.json
